POSTGRES_HOST=db-postgres
POSTGRES_PORT=5432
POSTGRES_DB=brilliant_sql
POSTGRES_USER=turing_admin
POSTGRES_PASSWORD=

GATEWAY_ADDRESS=gateway-protobus:50051

GRPC_PORT=50053

ENABLE_TLS=false
TLS_CA_CERT_PATH=/app/certs/ca.crt
TLS_CLIENT_CERT_PATH=/app/certs/client_back.crt
TLS_CLIENT_KEY_PATH=/app/certs/client_back.key
